<html>
    <body>
        <h1>Home Page</h1>
        You entered========================================================================= <br>
        Email: <%= a %> <br>
        Password:<%= b %> <br>

        <%= c %>
    </body>
</html>